USE [master]
GO
/****** Object:  Database [hehe]    Script Date: 3/30/2025 9:51:07 PM ******/
CREATE DATABASE [hehe]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'hehe', FILENAME = N'D:\HOCTAP\HQTCSDL\hehe.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'hehe_log', FILENAME = N'D:\HOCTAP\HQTCSDL\hehe_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [hehe].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [hehe]
GO
/****** Object:  Table [dbo].[bomon\]    Script Date: 3/30/2025 9:51:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bomon\](
	[mabm] [nchar](10) NOT NULL,
	[tenbm] [nchar](10) NULL,
	[makhoa] [nchar](10) NULL,
 CONSTRAINT [PK_bomon\] PRIMARY KEY CLUSTERED 
(
	[mabm] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[diem]    Script Date: 3/30/2025 9:51:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[diem](
	[id] [nchar](10) NOT NULL,
	[id_dk] [nchar](10) NULL,
	[diem] [float] NULL,
 CONSTRAINT [PK_diem] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dkmh]    Script Date: 3/30/2025 9:51:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dkmh](
	[id_dk] [nchar](10) NOT NULL,
	[malophp] [nchar](10) NULL,
	[masv] [nchar](10) NULL,
	[diemthi] [float] NULL,
	[phantramthi] [int] NULL,
 CONSTRAINT [PK_dkmh] PRIMARY KEY CLUSTERED 
(
	[id_dk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[giaovien]    Script Date: 3/30/2025 9:51:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[giaovien](
	[magv] [nchar](10) NOT NULL,
	[hoten] [nchar](10) NULL,
	[ngaysinh] [date] NULL,
	[mabm] [nchar](10) NULL,
 CONSTRAINT [PK_giaovien] PRIMARY KEY CLUSTERED 
(
	[magv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[gvcn]    Script Date: 3/30/2025 9:51:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[gvcn](
	[malop] [nchar](10) NOT NULL,
	[magv] [nchar](10) NOT NULL,
	[hocky] [nchar](10) NOT NULL,
 CONSTRAINT [PK_gvcn] PRIMARY KEY CLUSTERED 
(
	[malop] ASC,
	[magv] ASC,
	[hocky] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[khoa]    Script Date: 3/30/2025 9:51:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[khoa](
	[makhoa] [nchar](10) NOT NULL,
	[tenkhoa] [nchar](10) NULL,
 CONSTRAINT [PK_khoa] PRIMARY KEY CLUSTERED 
(
	[makhoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lop]    Script Date: 3/30/2025 9:51:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lop](
	[malop] [nchar](10) NOT NULL,
	[tenlop] [nchar](10) NULL,
 CONSTRAINT [PK_lop] PRIMARY KEY CLUSTERED 
(
	[malop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lophp]    Script Date: 3/30/2025 9:51:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lophp](
	[malophp] [nchar](10) NOT NULL,
	[tenlophp] [nchar](10) NULL,
	[hk] [nchar](10) NULL,
	[mamon] [nchar](10) NULL,
	[magv] [nchar](10) NULL,
 CONSTRAINT [PK_lophp] PRIMARY KEY CLUSTERED 
(
	[malophp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lopsv]    Script Date: 3/30/2025 9:51:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lopsv](
	[malop] [nchar](10) NOT NULL,
	[masv] [nchar](10) NOT NULL,
	[chucvu] [nchar](10) NULL,
 CONSTRAINT [PK_lopsv] PRIMARY KEY CLUSTERED 
(
	[malop] ASC,
	[masv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[monhoc]    Script Date: 3/30/2025 9:51:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[monhoc](
	[mamon] [nchar](10) NOT NULL,
	[tenmon] [nchar](10) NULL,
	[stc] [int] NULL,
 CONSTRAINT [PK_monhoc] PRIMARY KEY CLUSTERED 
(
	[mamon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sinhvien]    Script Date: 3/30/2025 9:51:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sinhvien](
	[masv] [nchar](10) NOT NULL,
	[hoten] [nchar](10) NULL,
	[ngaysinh] [date] NULL,
 CONSTRAINT [PK_sinhvien] PRIMARY KEY CLUSTERED 
(
	[masv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[bomon\]  WITH CHECK ADD  CONSTRAINT [FK_bomon\_khoa] FOREIGN KEY([makhoa])
REFERENCES [dbo].[khoa] ([makhoa])
GO
ALTER TABLE [dbo].[bomon\] CHECK CONSTRAINT [FK_bomon\_khoa]
GO
ALTER TABLE [dbo].[diem]  WITH CHECK ADD  CONSTRAINT [FK_diem_dkmh] FOREIGN KEY([id_dk])
REFERENCES [dbo].[dkmh] ([id_dk])
GO
ALTER TABLE [dbo].[diem] CHECK CONSTRAINT [FK_diem_dkmh]
GO
ALTER TABLE [dbo].[dkmh]  WITH CHECK ADD  CONSTRAINT [FK_dkmh_lophp] FOREIGN KEY([malophp])
REFERENCES [dbo].[lophp] ([malophp])
GO
ALTER TABLE [dbo].[dkmh] CHECK CONSTRAINT [FK_dkmh_lophp]
GO
ALTER TABLE [dbo].[dkmh]  WITH CHECK ADD  CONSTRAINT [FK_dkmh_sinhvien] FOREIGN KEY([masv])
REFERENCES [dbo].[sinhvien] ([masv])
GO
ALTER TABLE [dbo].[dkmh] CHECK CONSTRAINT [FK_dkmh_sinhvien]
GO
ALTER TABLE [dbo].[giaovien]  WITH CHECK ADD  CONSTRAINT [FK_giaovien_bomon\] FOREIGN KEY([mabm])
REFERENCES [dbo].[bomon\] ([mabm])
GO
ALTER TABLE [dbo].[giaovien] CHECK CONSTRAINT [FK_giaovien_bomon\]
GO
ALTER TABLE [dbo].[gvcn]  WITH CHECK ADD  CONSTRAINT [FK_gvcn_giaovien] FOREIGN KEY([magv])
REFERENCES [dbo].[giaovien] ([magv])
GO
ALTER TABLE [dbo].[gvcn] CHECK CONSTRAINT [FK_gvcn_giaovien]
GO
ALTER TABLE [dbo].[gvcn]  WITH CHECK ADD  CONSTRAINT [FK_gvcn_lop] FOREIGN KEY([malop])
REFERENCES [dbo].[lop] ([malop])
GO
ALTER TABLE [dbo].[gvcn] CHECK CONSTRAINT [FK_gvcn_lop]
GO
ALTER TABLE [dbo].[lophp]  WITH CHECK ADD  CONSTRAINT [FK_lophp_giaovien] FOREIGN KEY([magv])
REFERENCES [dbo].[giaovien] ([magv])
GO
ALTER TABLE [dbo].[lophp] CHECK CONSTRAINT [FK_lophp_giaovien]
GO
ALTER TABLE [dbo].[lophp]  WITH CHECK ADD  CONSTRAINT [FK_lophp_monhoc] FOREIGN KEY([mamon])
REFERENCES [dbo].[monhoc] ([mamon])
GO
ALTER TABLE [dbo].[lophp] CHECK CONSTRAINT [FK_lophp_monhoc]
GO
ALTER TABLE [dbo].[lopsv]  WITH CHECK ADD  CONSTRAINT [FK_lopsv_lop] FOREIGN KEY([malop])
REFERENCES [dbo].[lop] ([malop])
GO
ALTER TABLE [dbo].[lopsv] CHECK CONSTRAINT [FK_lopsv_lop]
GO
ALTER TABLE [dbo].[lopsv]  WITH CHECK ADD  CONSTRAINT [FK_lopsv_sinhvien] FOREIGN KEY([masv])
REFERENCES [dbo].[sinhvien] ([masv])
GO
ALTER TABLE [dbo].[lopsv] CHECK CONSTRAINT [FK_lopsv_sinhvien]
GO
USE [master]
GO
